@font-face {
  font-family: 'ac-medical-font';
  src:
    url('fonts/ac-medical-font.ttf?l9y38h') format('truetype'),
    url('fonts/ac-medical-font.woff?l9y38h') format('woff'),
    url('fonts/ac-medical-font.svg?l9y38h#ac-medical-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ac-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ac-medical-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ac-twitter-icon-with-box-radius-15-trans-t:before {
  content: "\e90c";
}
.ac-dentistry-icon:before {
  content: "\e908";
}
.ac-mother-baby-icon:before {
  content: "\e909";
}
.ac-twitter-icon:before {
  content: "\e90a";
}
.ac-walkin-icon:before {
  content: "\e90b";
}
.ac-well-being:before {
  content: "\e906";
}
.ac-safe-sleep:before {
  content: "\e907";
}
.ac-logo-2:before {
  content: "\e905";
}
.ac-surgeries:before {
  content: "\e903";
}
.ac-surgery:before {
  content: "\e904";
}
.ac-slch-arch:before {
  content: "\e900";
}
.ac-logo:before {
  content: "\e901";
}
.ac-meds:before {
  content: "\e902";
}
.ac-er:before {
  content: "\e600";
}
.ac-h:before {
  content: "\e601";
}
.ac-uc:before {
  content: "\e602";
}
